{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ with .Site.Params.coverimage }}<div id="cover-page" data-stellar-background-ratio="0.25" style="background-image: url({{ . }})">{{ end }}
  <div class="container">
    {{ with .Site.Params.title }}<h1 class="cover-title">{{ . }}</h1>{{ end }}
    {{ with .Site.Params.subtitle }}<h3 class="cover-subtitle">{{ . }}</h3>{{ end }}
  </div>
</div>
{{ with site.GetPage .Site.Params.welcomePage }}
  <div class="container" id="welcome">
    <div class="row"><div class="col"><p>&nbsp;</p></div></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3>{{ .Title }}</h3>
          </div>
          <div class="panel-body">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
<div class="index-wrapper">
  <div id="main-container" class="container">
    <div class="col-sm-12">
      <article>
        <h3>Recent Posts</h3>
        <hr />
        {{ range first 5 (where .Data.Pages "Section" "post") }}
           {{ .Render "summary"}}
        {{ end }}
      </article>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
